<div class="alert alert-secondary mt-4">
    <strong>@Text</strong>
    <br/>
    <span class="text-nowrap">
        Copyright (c) 2022 <i>bartdeveloper</i>
    </span>
</div>

@code {
    [Parameter]
    public string? Text { get; set; }
}
