@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <BlazoredToasts Position="ToastPosition.TopRight" Timeout="4" ShowProgressBar="true"/>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/bartdeveloper/blazor-tea-picker" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
