@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to the <strong>Tea picker</strong> Blazor WASM app.

<br/><br/>

<img src="https://pics.clipartpng.com/midle/Cup_of_Tea_PNG_Clipart-155.png" />

<Footer Text="2022" />
